* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.template-bg {
  padding-bottom: 8rem;
  margin-top: 130px;
  background-image: url("https://geeko.netlify.app/img/bg-img/ring-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.template-row-one {
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: center;
}

.template-dots {
  padding-bottom: 20px;
}
.first-clr {
  border-radius: 50px !important;
  background-color: #00a8ff !important;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 5px;
}
.scnd-clr {
  background-color: #9c88ff;
  border-radius: 50px !important;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 5px;
}
.third-clr {
  background-color: #fbc531;
  border-radius: 50px !important;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 5px;
}
.four-clr {
  background-color: #4cd137;
  border-radius: 50px !important;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 5px;
}
.five {
  background-color: #487eb0;
  border-radius: 50px !important;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 5px;
}
.six-clr {
  background-color: #e84118;
  border-radius: 50px !important;
  height: 8px;
  width: 8px;
  margin-right: 5px;
  display: inline-block;
}
.seven-clr {
  background-color: #8c7ae6;
  border-radius: 50px !important;
  height: 8px;
  width: 8px;
  display: inline-block;
}
.creative {
  color: #13287e;
  font-weight: 600 !important;
  padding-bottom: 8px;
}
/* section */
.template-row-one p {
  color: #888;
  line-height: 2;
  font-size: 18px !important;
  max-width: 600px !important;
  margin: 0 auto !important;
}
.template-box-one {
  box-shadow: 0 2px 28px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.template-box-one:hover {
  transition: all 0.4s ease;
  box-shadow: 0 0 20px rgba(251, 27, 7, 0.963) !important;
  border: 1.5px solid red;
}
.template-margin {
  margin-top: 55px !important;
}
.img-responsive {
  /* display: block; */
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.template-btn {
  display: flex;
  justify-content: center;
}
.template-button-one {
  margin: 24px 5px !important;
  background: #1d88ed;
  /* display: inline-block; */
  padding: 15px 20px !important;
  width: 44% !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  color: #fff !important;
  border-radius: 7px !important;
  text-transform: uppercase !important;
}
.template-button-one:hover {
  color: #13287e !important;
  background: #1d88ed;
}
.template-button-two {
  margin: 24px 5px !important;
  background: #fff !important;
  padding: 15px 20px !important;
  width: 44% !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  color: #1d88ed !important;
  border: 2px solid #1d88ed !important;
  text-transform: uppercase !important;
  border-radius: 7px !important;
}
.template-button-two:hover {
  color: #13287e !important;
  background: #fff !important;
}

/* 2nd row */
.template-row-two {
  margin-top: 6rem;
  margin-bottom: 20px;
  text-align: center;
}
.template-row-two p {
  color: #888;
  line-height: 2;
  font-size: 18px !important;
  max-width: 600px !important;
  margin: 0 auto !important;
}
/* card start */
.card-margin {
  margin-top: 5rem !important;
}
.template-card {
  position: relative;
  z-index: 1;
  padding: 30px 15px;
  box-shadow: 0 5px 40px 0 rgb(0 0 0 / 11%);
  background: #fff;
  margin-bottom: 30px;
  border-radius: 15px;
}
.template-icon {
  margin-bottom: 20px !important;
  text-align: center;
}
.template-card-h6 {
  text-align: center;
  color: #13287e;
  margin-bottom: 15px !important;
  font-weight: bold !important;
  font-size: 22px !important;
  line-height: 1.4 !important;
}
.template-card p {
  color: #888;
  text-align: center;
  line-height: 1.9;
  font-size: 16px;
}
/* 2nd row card start */
.card-margin-top {
  margin-top: 0.5rem !important;
}


/* media auery start */
@media (max-width:992px) {
  .card-margin{
    margin-top: 2rem !important;
  }
}