* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Animation-start */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* animation-end */

.home-margin{
  padding-top: 1rem;
}
.welcome-content {
  margin-top: 90px;
  letter-spacing: 0.58px;
}
.promo-section {
  padding: 8px 10px;
  background: #e8f3fd;
  width: 66%;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.integration-text {
  color: #3e94e4;
  font-weight: 600;
}
.welcome-content-h1 {
  font-size: 45px !important;
  line-height: 1.4;
  color: #13287e !important;
  font-weight: 700 !important;
  margin-bottom: 20px !important;
}
.welcome-content-p {
  color: #888;
  font-size: 22px;
  margin-bottom: 30px;
}
/* .welcome-content-btn {
margin-right: 5px !important;
} */
.btn-1 {
  padding: 10px 20px !important;
  border-radius: 5px !important;
  font-weight: 600 !important;
}
.btn-2{
  margin-left: 15px !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
  font-weight: 600 !important;
}
.image {
  max-width: 100% !important;
  margin-top: 60px !important;
}
.home-bg {
  margin-top: 60px;
  background-position: left;
  background-size: auto;
  height: 620px;
  background-repeat: no-repeat;
  background-image: url("https://geeko.netlify.app/img/svg/benefits-bg.svg") !important;
}
.services-1 {
  margin-top: 80px;
  margin-bottom: 25px;
  padding: 25px 20px 15px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 5px 5px 15px -10px rgba(15, 14, 14, 0.5);
}
.services-2 {
  margin-bottom: 25px;
  padding: 25px 20px 15px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 5px 5px 15px -10px rgba(15, 14, 14, 0.5);
}
.inner-box {
  display: flex;
  justify-content: space-around;
}
.inner-box-icon {
  width: 20%;
}
.inner-box-h3 {
  color: #13287e;
  font-size: 18px !important;
  font-weight: 700 !important;
}
.inner-box-p {
  font-size: 16px;
  color: #888;
  margin-top: 8px;
  margin-bottom: 10px;
}
.home-content {
  margin-left: 10px;
}
.home-content-dots {
  margin-top: 75px !important;
  margin-bottom: 30px !important;
}
.first-clr {
  border-radius: 50px !important;
  background-color: #00a8ff !important;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 5px;
}
.scnd-clr {
  background-color: #9c88ff;
  border-radius: 50px !important;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 5px;
}
.third-clr {
  background-color: #fbc531;
  border-radius: 50px !important;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 5px;
}
.four-clr {
  background-color: #4cd137;
  border-radius: 50px !important;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 5px;
}
.five {
  background-color: #487eb0;
  border-radius: 50px !important;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 5px;
}
.six-clr {
  background-color: #e84118;
  border-radius: 50px !important;
  height: 8px;
  width: 8px;
  margin-right: 5px;
  display: inline-block;
}
.seven-clr {
  background-color: #8c7ae6;
  border-radius: 50px !important;
  height: 8px;
  width: 8px;
  display: inline-block;
}
.home-content-h4{
    color: #13287e;
    margin-bottom: 20px;
    font-size: 33px;
    font-weight: 700;
}
.home-content-p1{
    color: #888;
    line-height: 1.9;
    font-size: 17px;
    margin-bottom: 1rem;
}
.home-content-p2{
    color: #888;
    line-height: 1.9;
    font-size: 17px;
    margin-bottom: 3rem;
}


/* media query start */
@media (max-width:992px) {
  .welcome-content{
    margin-top: 50px;
  }
}